* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(247, 247, 247, 1);
  color: #000000;
}
@font-face {
  font-family: "KyivTypeTitlingVar";
  src: url("/fonts/KyivType-VariableGX/KyivTypeTitling-VarGX.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  font-family: "KyivTypeTitlingVar", "Montserrat", sans-serif;
}
body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.e-p-header.is-open .e-p-header-background {
  left: 0;
}
.e-p-header-button-wrapper {
  margin-left: auto;
}
.e-p-header-icon {
  display: none;
}

.e-p-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.e-p-navigation-list.is-open {
  right: 0;
}
.e-p-header-icon-menu {
  display: block;
}

.e-p-header-icon-button.is-open .e-p-header-icon-menu {
  display: none;
}

.e-p-header-icon-button.is-open .e-p-header-icon-close {
  display: block;
}

.e-p-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 74px;
}

.e-p-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(100px);
}
.e-p-header.is-open .e-p-header-background {
  left: 0;
}
.e-p-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.e-p-header-icon-menu {
  display: block;
}

.e-p-header-icon-button.is-open .e-p-header-icon-menu {
  display: none;
}

.e-p-header-icon-button.is-open .e-p-header-icon-close {
  display: block;
}

.e-p-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 30px;
  position: relative;
}

.e-p-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 60px 32px 0;
  gap: 24px;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(100px);
}

.e-p-navigation-list.is-open {
  right: 0;
}

.e-p-navigation-link {
  font-family: "Lato", sans-serif;

  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1%;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);

  border-radius: 8px;

  padding: 4px;
  border: 1px solid transparent;
}

.e-p-navigation-link:hover,
.e-p-navigatioт-link:focus {
  border: 1px solid rgba(255, 255, 255, 1);
}

.e-p-header.is-open {
  background-color: transparent;
}

.e-p-navigation-img {
  display: none;
}

@media screen and (min-width: 1190px) {
  .e-p-navigation-img {
    display: flex;
    margin-right: 157px;
  }
  .e-p-policy-terms-header-icon-menu {
    display: none;
  }
  .w-b-header-button-wrapper {
    display: none;
  }
  .e-p-header {
    width: 100%;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background: rgba(247, 247, 247, 1);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
  }

  .e-p-header-background {
  }
  .e-p-header-icon-button {
    display: none;
  }
  .e-p-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .e-p-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 45px;
    height: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    padding-right: 75px;
  }

  .e-p-navigation-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 1%;
    color: rgba(0, 0, 0, 1);
  }
  .e-p-navigation-link:hover,
  .e-p-navigatioт-link:focus {
    border: 1px solid rgba(0, 0, 0, 1);
  }
  .e-p-navigation-item-desk {
    display: none;
  }
}
.e-p-home {
  width: 375px;
  height: 810px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Frame\ 300.png");
  margin: auto;
}
.e-p-home-container {
  width: 375px;
  padding: 268px 30px 0px;
  margin: auto;
}

.e-p-home-container-top {
  display: flex;
  flex-direction: column;
  padding: 16px;
  height: 274px;
  color: rgba(255, 255, 255, 1);
}

.e-p-home-title {
  font-family: Kyiv * Type Serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.e-p-home-text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;

  padding: 16px 0;
}
.e-p-home-img {
  width: 154px;
  height: 154px;
  margin: auto;
  margin-top: 57px;
}
@media screen and (min-width: 1190px) {
  .e-p-home {
    width: 1440px;
    height: 1024px;
    background-image: url("/img/home/Frame\ 301.png");
  }
  .e-p-home-container {
    width: 1440px;
    padding: 366px 415px 0px;
  }
  .e-p-home-container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    height: 292px;
  }

  .e-p-home-title {
    font-family: Kyiv * Type Serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }

  .e-p-home-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    padding: 16px 60px;
  }
  .e-p-home-img {
    width: 154px;
    height: 154px;
    margin: auto;
    margin-top: 60px;
  }
}

.e-p-about-container {
  width: 375px;
  padding: 60px 28px 0px;
  margin: auto;
}
.e-p-about-title {
  font-family: Kyiv * Type Serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}
.e-p-about-text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  padding: 24px 0 16px;
}

@media screen and (min-width: 1190px) {
  .e-p-about-container {
    width: 1440px;
    padding: 150px 329px 0px;
    margin: auto;
  }
  .e-p-about-title {
    font-family: Kyiv * Type Serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
  .e-p-about-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    padding: 40px 45px 24px;
  }
  .e-p-about-img {
    content: url("/img/Frame\ 256\ \(1\).png");
  }
}

.e-p-why-container {
  width: 375px;
  margin: auto;
  padding: 80px 28px 0;
}
.e-p-why-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.e-p-why-text-bold {
  font-family: Kyiv * Type Serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: 0%;

  width: 117px;
  height: 117px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  color: rgba(255, 255, 255, 1);
}
.e-p-why-text {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;

  padding: 16px 0 8px;
}
.e-p-why-textt {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}
@media screen and (min-width: 1190px) {
  .e-p-why-container {
    width: 1440px;
    padding: 150px 0px 0;
  }
  .e-p-why-list {
    padding-top: 48px;
    display: flex;
    flex-direction: row;
    gap: 51px;
    align-items: start;
    justify-content: center;
  }
  .e-p-why-item {
    width: 216px;
  }

  .e-p-why-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;

    padding: 16px 0 8px;
  }
  .e-p-why-textt {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.e-p-uniqueness-container {
  margin: auto;
  width: 375px;

  padding: 96px 44px 0;
}

.e-p-uniqueness-text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;

  padding: 24px 0px;
}

@media screen and (min-width: 1190px) {
  .e-p-uniqueness-container {
    margin: auto;
    width: 1440px;

    padding: 166px 268px 0;
  }
  .e-p-uniqueness-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;

    padding: 24px 0px;
  }
}

.e-p-reviews-container {
  margin: auto;
  padding: 80px 28px;
  width: 375px;
}
.e-p-reviews-list {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.e-p-reviews-img {
  width: 84px;
  height: 84px;
  margin: auto;
}
.e-p-reviews-text-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  padding: 16px 0 8px;
}

.e-p-reviews-text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1190px) {
  .e-p-reviews-container {
    margin: auto;
    padding: 150px 252px 0px;
    width: 1440px;
  }

  .e-p-reviews-list {
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .e-p-reviews-item {
    width: 216px;
  }
  .e-p-reviews-img {
    width: 84px;
    height: 84px;
    margin: auto;
  }
  .e-p-reviews-text-bold {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;

    padding: 16px 0 8px;
  }

  .e-p-reviews-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.e-p-features-container {
  margin: auto;
  padding: 80px 28px 0;
  width: 375px;
}
.e-p-features-list {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.e-p-features-img {
  width: 137px;
  height: 136px;
  margin: auto;
}
.e-p-features-text-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  padding: 8px 0;
}

.e-p-features-text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1190px) {
  .e-p-features-container {
    margin: auto;
    padding: 150px 252px 0;
    width: 1440px;
  }
  .e-p-features-list {
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .e-p-features-item {
    width: 216px;
  }
  .e-p-features-img {
    width: 137px;
    height: 136px;
    margin: auto;
  }
  .e-p-features-text-bold {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    padding: 8px 0;
  }

  .e-p-features-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}
.e-p-faq-container {
  padding: 80px 28px 50px;
  width: 375px;
  margin: auto;
}
.e-p-faq-list {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.e-p-faq-item {
  border: 1px solid rgba(0, 0, 0, 1);
  background: rgba(255, 255, 255, 1);

  border-radius: 8px;
  padding: 16px;
}

.e-p-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Lato", sans-serif;

  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

.e-p-faq-answer {
  padding-top: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}
.e-p-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}
.e-p-toggle-button img {
  width: 31px;
  height: 31px;
  transition: transform 0.4s ease;
}

.e-p-faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
  opacity: 0;
  padding-top: 0;
}

.e-p-faq-answer.open {
  max-height: 200px;
  opacity: 1;
  padding-top: 16px;
}

.e-p-toggle-button img.rotated {
  transform: rotate(180deg);
}
.e-p-faq-text {
  display: none;
}
@media screen and (min-width: 1190px) {
  .e-p-faq-container {
    padding: 150px 399px 81px;
    width: 1440px;
    margin: auto;
  }
  .e-p-faq-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Kyiv * Type Serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 150%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
    width: 61px;
    height: 61px;
    border-radius: 100px;
    border-width: 6px;
    gap: 30px;
  }
  .e-p-faq-item-top {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .e-p-faq-list {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .e-p-faq-item {
    width: 551px;
    border-radius: 8px;
    padding: 16px;
  }

  .e-p-faq-question {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .e-p-faq-answer {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.e-p-gallery-container {
  width: 375px;
  margin: auto;
  padding: 80px 28px 0px;
}
.e-p-gallery-list {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.e-p-gallery-item {
  width: 319px;
  height: 567.111083984375px;

  overflow: hidden;
  position: relative;
}

.e-p-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 1190px) {
  .e-p-gallery-container {
    width: 1440px;
    margin: auto;
    padding: 150px 252px 0px;
  }
  .e-p-gallery-item {
    width: 227px;
    height: 404px;
  }

  .e-p-gallery-list {
    padding-top: 60px;
    flex-direction: row;
    gap: 9px;
  }
}

.e-p-policy-terms-container {
  padding: 170px 20px 40px;
  width: 375px;
  margin: auto;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

.e-p-policy-terms-container h1 {
  font-family: "KyivTypeTitlingVar";
  font-weight: 700;
  font-size: 26px;
  text-align: center;
  margin-bottom: 20px;
}
.e-p-policy-terms-container h2 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;

  margin: 20px 0;
}
.e-p-policy-terms-container ul {
  list-style-type: disc;
  margin: 0px 0 0 20px;
}

.e-p-email-link {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1190px) {
  .e-p-policy-terms-container {
    padding: 165px 108px 70px;
    width: 1440px;

    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .e-p-policy-terms-container h1 {
    font-weight: 700;
    font-size: 40px;
    text-align: center;

    margin-bottom: 20px;
  }
  .e-p-policy-terms-container h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;

    margin: 20px 0;
  }
  .e-p-policy-terms-container ul {
    list-style-type: disc;
    margin: 0px 0 0 20px;
  }

  .e-p-email-link {
    color: inherit;
    text-decoration: none;
  }
}

.e-p-footer-container {
  background: rgba(247, 247, 247, 1);

  width: 375px;
  padding: 25px 0px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.e-p-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 19px;
}

.e-p-footer-text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;

  color: inherit;
}

.e-p-footer-copyright {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 1%;
}

@media screen and (min-width: 1190px) {
  .e-p-footer-container {
    width: 1440px;
  }

  .e-p-footer-wrapper {
    display: flex;
    flex-direction: row;
  }

  .e-p-footer-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 1%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }

  .e-p-footer-copyright {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 1%;
  }
}

.e-p-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 40px 28px;
  background: rgba(255, 255, 255, 1);

  z-index: 1000;
  display: none;
  color: rgba(0, 0, 0, 1);
}
.e-p-cookie-popup-text {
  font-family: "Lato", sans-serif;

  font-weight: 700;
  font-size: 24px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

.e-p-cookie-popup-text-two {
  font-family: "Lato", sans-serif;

  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;

  padding-top: 24px;
}

.e-p-cookie-button-container {
  padding: 24px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.e-p-cookie-button {
  border: none;
  background-color: transparent;
  width: 319px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 8px;

  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 0px 1px 3px 0px rgba(135, 97, 76, 1);

  font-family: "Lato", sans-serif;

  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: inherit;
}

#accept-cookies {
  border: none;
  background: rgba(255, 177, 109, 1);
}

.e-p-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1190px) {
  .e-p-cookie-popup-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 22px;
    letter-spacing: 0%;
  }

  .e-p-cookie-popup-text-two {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }

  .e-p-cookie-button-container {
    margin: auto;
    display: flex;
    flex-direction: row;
  }
  .e-p-cookie-button {
    width: 269px;
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .e-p-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 61px;
    display: none;
  }
}
